@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * * * L A N D I N G - P A G E * * * */
body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
}

/* * * * H E A D E R - P A R T * * * */
.logo img {
    width: 215px;
    height: auto;
    margin-top: 3.7vw;
    margin-left: 4.9vw;
}

/* * * * T E X T - P A R T * * * */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5.7vw;
    margin-inline: 5.1vw;
    gap: 3.5vw;
    font-size: 1rem;
}

.content {
    padding-bottom: 8.2vw;
    margin-right: 2vw;
}

.content p {
    margin-top: 1vw;
    margin-bottom: 1.7vw;
    font-family: 'Open Sans';
    font-size: 1.15rem;
    line-height: 1.7rem;
}

.content h1 {
    font-family: 'Poppins';
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

.landing button {
    width: 204px;
    height: 54.5px;
    padding-inline: 61px;
    padding-block: 14.5;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
    text-align: center;
    color: hsl(257, 40%, 49%);
    background: #fff;
    box-shadow: 0px 0px 15px .1px rgba(0, 0, 0, .4);
    border: none;
}

.landing button:hover {
    cursor: pointer;
    color: #fff;
    background: hsl(300, 69%, 71%);
}

/* * * * I M A G E - P A R T * * * */
.mockup img {
    max-width: 50vw;
    max-height: auto;
}


/* for smaller screens */

@media screen and (max-width: 1450px) {
    .content {
        margin-right: 0vw;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .content {
        margin-inline: 13vw;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-size: contain;
    }

    .logo img {
        margin-top: 10vw;
        width: 130px;
    }

    .container {
        margin-top: 10vw;
    }

    .content {
        margin-inline: 9vw;
    }

    .content p {
        font-size: 1rem;
        margin-top: 3vw;
        margin-bottom: 5vw;
        line-height: 1.5rem;

    }

    .content h1 {
        font-size: 1.5em;
        letter-spacing: normal;
    }

    .mockup img {
        max-width: 80vw;
        max-height: auto;
    }

    .landing button {
        width: 200px;
        height: 40px;
        font-size: .8rem;
        box-shadow: 3px 3px 5px .1px rgba(0, 0, 0, .3);
    }
}